* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

header {
	padding-left: 10px;
	.create-column {
		margin-bottom: 20px;
	}
}

.column-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	& > div {
		flex: 1;
		float: left;
	}	
}

.panel {
	min-height: 480px;
	background-color: #f4f4f4;
	margin-bottom: 0;
	.panel-heading {
		text-align: center;
		position: relative;
		.btn-delete {
			position: absolute;
			top: 10px;
			right: 10px;
			color: #000;
		}
	}
	.panel-body {
		padding: 0;
		.add-card {
			margin: 20px 10px;
		}
		ul {
			list-style-type: none;
			min-height: 300px;
			.card {
				background-color: #f0ffea;
				width: calc(50% - 15px);
				min-height: 50px;
				display: flex;
				float: left;
				margin-left: 10px;
				margin-bottom: 10px;
				padding: 5px;
				box-shadow: 1px 1px 5px #444444;
				p {
					flex: 12;
					margin-bottom: 0;
				}
				.btn-delete {
					flex: 1;
					height: 25px;
					padding: 2px 6px;
				}
			}
		}
	}
}